@charset "UTF-8";
.content{
	font: 400 14px 'NotoSansKR';
}

.tot_count{
	margin-left: 30px;
	margin-top: 30px;
}

.recipe-detail-main{
	width:1000px;
	margin: 0 auto; /* 중앙정렬 */
}
.detail_title{
	text-align:left;
	margin-left: 10px;
}
.detail-content{
	text-align: center;
}
.detail-img{
	max-width: 500px;
}
.btn_click{
	float: right;
	margin-top: -5px;
}





/*댓글쪽*/
div#reply_div {
   padding : 5px 10px 40px 10px;
   margin-top : 10px;
   background-color : #eeeeee;
}
form#re_form {
   width : 650px;
   border : none;
}
span.re-title {
   color : #000;
   font-size : 12pt;
   line-height : 200%;
}
span.letter-count {
   font-size : 11pt;
   color : #999;
}
span.form-id {
   padding-left : 93px;
   color : #000;
}
textarea.rep-content {
   width : 100%;
   height : 100px;
   margin : 10px 10px;
}
div#re_first {
   float : left;
   width : 19%;	/*숫자가 클수록 오른쪽으로 이동*/
   padding-left : 0;
   margin-bottom : 10px;
}
div#re_second {
   float : right;
   width : 14%;		/*숫자가 클수록 왼쪽으로 이동*/
   margin-bottom : 10px;
   padding-left : 50px;
}
div#loading {
   width : 100px;
   margin : 0 auto;
}
div.paging-button {
   text-align : right;
}
div#output {
   clear : both;
}
form#mre_form {
   border : none;
   margin : 5px;
}